<header class="header">
  <a href="/" class="header__logo">
    <img
      src="/img/purple-elephant.jpeg"
      alt="purple elephant on moon"
      class="header__img"
    />
  </a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <button>Logout</button>
  </div>
</header>
